<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button routerLink="/home">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      
      <ion-button routerLink="/events">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>

      <ion-button routerLink="/add-event">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>

      <ion-button routerLink="/add-about">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
